-# .flash-box
-#   グループを作成／編集しました

.wrapper

  = render partial: './shared/chat-side'

  .chat-main
    .main-header
      .main-header__left
        %h2.main-header__left__current-group
          = @group.name
        %ul.main-header__left__member-list
          Member：
          = render partial: 'user', collection: @users
      =link_to edit_group_path(current_user), class: "edit-btn" do
        .main-header__edit-btn
          Edit

    .chats
      = render partial: 'chat', collection: @chats

    .form
      =form_for [@group, @chat] do |f|
        .form-flex
          .form__box
            =f.text_field :text, class: 'form__box__chat', placeholder: 'type a message'
            =f.label :image, class: 'form__box__image' do
              =fa_icon 'image', class: 'fa'
              =f.file_field :image, class: 'file'
          =f.submit 'Send', class: 'form__submit'
